{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Smart Playlist</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon_star.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/playlists.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
    <script src="{% static '/js/add-smart-playlist.js' %}" defer></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
        integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
        integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    {% include 'songmanager/navbar.html' %}
    <div class="wrapper-add-playlists">
        <div class="child-playlist-options-mini-player-add-playlists">

            <div class="add-playlists-container">

                <div class="add-playlists-btn-group">
                    <hr>
                    <div class="add-playlists-btn-member back-to-playlists-btn"><a href="{% url 'playlists' %}">&lt;
                            Back to
                            Playlist Page</a></div>
                    <hr>
                </div>

            </div>

            <div class="mini-player-container">

                <div class="mini-player-group">

                    <div class="now-playing-song-description-group">
                        <div class="album-art-container"><img src='{{ album_art }}' alt="Album Cover"
                                class="pl-album-cover-art"></div>
                        <h4 class="pl-song-title pl-song-txt">{{ song_name }}</h4>
                        <h5 class="pl-album-name pl-song-txt">{{ album_name }}</h5>
                        <h5 class="pl-artist-name pl-song-txt">{{ artist_name }}</h5>
                    </div>

                    <div class="pl-mini-player-controls-group">
                        <div class=“pl-control-div”><img src="{% static '/images/skip_icon.png' %}"
                                alt="Go back to the previous song icon" class="pl-control-img pl-prev-img"></div>
                        {% if now_playing %}
                        <div class="pl-control-div"><img src="{% static '/images/pause_icon.png' %}"
                                alt="Play song icon" class="pl-control-img">
                        </div>
                        {% else %}
                        <div class="pl-control-div"><img src="{% static '/images/play_icon.png' %}"
                                alt="Pause song icon" class="pl-control-img"></div>
                        {% endif %}
                        <div class="pl-control-div"><img src="{% static '/images/skip_icon.png' %}" alt="Skip song icon"
                                class="pl-control-img"></div>
                    </div>

                    <div class="pl-add-song-option-group">
                        <div><button class="pl-add-song-btn-member">Add to Library</button></div>
                        <div class="pl-og-add-song-div"><button class="pl-add-song-btn-member">Add to Playlist</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="main-block-content-add-playlists">
            <div class="add-playlist-header-bar">
                <div class="add-playlist-header">
                    <h1 class="add-playlist-opt-header">Set Playlist Rules</h1>
                    <hr class="playlist-rules-header-hr">
                </div>
                <div class="add-playlist-h-desc">
                    <p>Songs in your library that match these rules will automatically be added to the playlist. Fields
                        can be left blank.</p>
                </div>
            </div>

            <div class="add-playlist-form">
                <div class="add-playlist-form-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="ap-rating-energy-choices-div">
                            <div class="ap-rating-choice-div ap-choice-div-sub">
                                <h5 class="rule-choice-subhead">Rating</h5>
                                {{ form.sm_rating_modifier }}
                                {{ form.sm_rating }}
                            </div>
                            <div class="sm-join-re">
                                {{ form.sm_rating_energy_join }}
                            </div>
                            <div class="ap-energy-choice-div ap-choice-div-sub">
                                <h5 class="rule-choice-subhead">Energy</h5>
                                {{ form.sm_energy_modifier }}
                                {{ form.sm_energy }}
                            </div>
                        </div>
                        {% if form.sm_rating.errors %}
                        <div class="sm-form-error">{{ form.sm_rating.errors }}</div>
                        {% endif %}
                        <script>
                            $('#sm-rating-energy-join').selectize()
                            $('#sm-rating-modifier').selectize()
                            $('#sm-energy-modifier').selectize()
                        </script>

                        <div class="ap-genre-choices-line ap-choices-line">
                            <div class="sm-join">
                                {{ form.sm_genre_join }}
                            </div>
                            <div class="ap-genre-choice-div">
                                <h5 class="rule-choice-subhead">Genre</h5>
                                <div class="sm-options-select">{{ form.sm_genre_modifier_1 }}</div>
                                <div class="sm-options-select">{{ form.sm_genre_modifier_2 }}</div>
                                :
                                <div class="sm-options-select">{{ form.sm_genre_options_select }}</div>
                            </div>
                        </div>
                        {% if form.sm_genre_modifier_1.errors %}
                        <div class="sm-form-error">{{ form.sm_genre_modifier_1.errors }}</div>
                        {% endif %}
                        <script>
                            $('#sm-genre-join').selectize()
                            $('#sm-genre-modifier-1').selectize()
                            $('#sm-genre-modifier-2').selectize()
                            $('#sm-genre-options-select').selectize({ maxItems: null })
                        </script>

                        <div class="ap-atmosphere-choices-line ap-choices-line">
                            <div class="sm-join">
                                {{ form.sm_atmosphere_join }}
                            </div>
                            <div class="ap-atmosphere-choice-div">
                                <h5 class="rule-choice-subhead">Atmosphere</h5>
                                <div class="sm-options-select">{{ form.sm_atmosphere_modifier_1 }}</div>
                                <div class="sm-options-select">{{ form.sm_atmosphere_modifier_2 }}</div>
                                :
                                <div class="sm-options-select">{{ form.sm_atmosphere_options_select }}</div>
                            </div>
                        </div>
                        {% if form.sm_atmosphere_options_select.errors %}
                        <div class="sm-form-error">{{ form.sm_atmosphere_options_select.errors }}</div>
                        {% endif %}
                        <script>
                            $('#sm-atmosphere-join').selectize()
                            $('#sm-atmosphere-modifier-1').selectize()
                            $('#sm-atmosphere-modifier-2').selectize()
                            $('#sm-atmosphere-options-select').selectize({ maxItems: null })
                        </script>

                        <div class="ap-emotion-choices-line ap-choices-line">
                            <div class="sm-join">
                                {{ form.sm_emotion_join }}
                            </div>
                            <div class="ap-emotion-choice-div">
                                <h5 class="rule-choice-subhead">Emotion</h5>
                                <div class="sm-options-select">{{ form.sm_emotion_modifier_1 }}</div>
                                <div class="sm-options-select">{{ form.sm_emotion_modifier_2 }}</div>
                                :
                                <div class="sm-options-select">{{ form.sm_emotion_options_select }}</div>
                            </div>
                        </div>
                        {% if form.sm_emotion_options_select.errors %}
                        <div class="sm-form-error">{{ form.sm_emotion_options_select.errors }}</div>
                        {% endif %}
                        <script>
                            $('#sm-emotion-join').selectize()
                            $('#sm-emotion-modifier-1').selectize()
                            $('#sm-emotion-modifier-2').selectize()
                            $('#sm-emotion-options-select').selectize({ maxItems: null })
                        </script>

                        <div class="ap-tag-choices-line ap-choices-line">
                            <div class="sm-join">
                                {{ form.sm_tag_join }}
                            </div>
                            <div class="ap-tag-choice-div">
                                <h5 class="rule-choice-subhead">Tag</h5>
                                <div class="sm-options-select">{{ form.sm_tag_modifier_1 }}</div>
                                <div class="sm-options-select">{{ form.sm_tag_modifier_2 }}</div>
                                :
                                <div class="sm-options-select">{{ form.sm_tag_options_select }}</div>
                            </div>
                        </div>
                        {% if form.sm_emotion_options_select.errors %}
                        <div class="sm-form-error">{{ form.sm_emotion_options_select.errors }}</div>
                        {% endif %}
                        <script>
                            $('#sm-tag-join').selectize()
                            $('#sm-tag-modifier-1').selectize()
                            $('#sm-tag-modifier-2').selectize()
                            $('#sm-tag-options-select').selectize({ maxItems: null })
                        </script>

                        <div class="ap-submit-add-name-bar">
                            {{ form.sm_playlist_title }}
                            <input type="submit" class="sm-submit-btn">
                        </div>

                    </form>


                </div>
            </div>

        </div>
    </div>
</body>

</html>