{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Management</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon_star.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/playlists.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
</head>

<body>
    {% include 'songmanager/navbar.html' %}
    <div class="wrapper-playlists">

        <div class="child-playlist-options-mini-player">

            <div class="add-playlists-container">

                <div class="add-playlists-btn-group">
                    <button class="add-playlists-btn-member new-folder-btn">New Folder</button>
                    <button class="add-playlists-btn-member new-sm-playlist-btn">New Smart Playlist</button>
                    <button class="add-playlists-btn-member new-std-playlist-btn">New Standard Playlist</button>
                </div>

            </div>

            <div class="mini-player-container">

                <div class="mini-player-group">

                    <div class="now-playing-song-description-group">
                        <div class="album-art-container"><img src='{{ album_art }}' alt="Album Cover"
                                class="pl-album-cover-art"></div>
                        <h4 class="pl-song-title pl-song-txt">{{ song_name }}</h4>
                        <h5 class="pl-album-name pl-song-txt">{{ album_name }}</h5>
                        <h5 class="pl-artist-name pl-song-txt">{{ artist_name }}</h5>
                    </div>

                    <div class="pl-mini-player-controls-group">
                        <div class=“pl-control-div”><img src="{% static '/images/skip_icon.png' %}"
                                alt="Go back to the previous song icon" class="pl-control-img pl-prev-img"></div>
                        {% if now_playing %}
                        <div class="pl-control-div"><img src="{% static '/images/pause_icon.png' %}"
                                alt="Play song icon" class="pl-control-img">
                        </div>
                        {% else %}
                        <div class="pl-control-div"><img src="{% static '/images/play_icon.png' %}"
                                alt="Pause song icon" class="pl-control-img"></div>
                        {% endif %}
                        <div class="pl-control-div"><img src="{% static '/images/skip_icon.png' %}" alt="Skip song icon"
                                class="pl-control-img"></div>
                    </div>

                    <div class="pl-add-song-option-group">
                        <div><button class="pl-add-song-btn-member">Add to Library</button></div>
                        <div class="pl-og-add-song-div"><button class="pl-add-song-btn-member">Add to Playlist</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="child-playlists-main-view">
            <div class="smart-playlists-container">

                <div class="pl-smart-playlists-container">

                    <div class="smart-playlist-heading-bar">
                        <h1 class="pl-playlist-opt-header">Smart Playlists</h1>
                        <div class="pl-sphb-group">
                            <div class="pl-sphb-update-btn-div"><button class="update-smart-playlists-btn">Update
                                    All</button></div>
                            <div class="pl-sphb-info-btn">
                                <img src="{% static '/images/info_icon.png' %}"
                                    alt="Info button for smart playlist management section" class="pl-info-btn">
                                <span class="tooltip-text"></span>
                            </div>
                        </div>
                    </div>

                    <div class="playlists-and-folders-main-container playlists-container">
                        {% if smart_folders %}
                        {% for folder in smart_folders %}

                        <div class="folder-main-holder">
                            <div class="folder-name-container">
                                <h5 class="folder-name fl-n-2">{{ folder.name }}</h5>
                            </div>

                            <div class="edit-del-options-f">
                                <div class="edf-positions">
                                    <div class="edf-icons">
                                        <button class="button-edit-del-f">edit</button>
                                        <div><button class="eb-icon-btn">
                                                <div class="star-elem-div"><span class="fa fa-star star-elem-3"></span>
                                                </div>
                                            </button></div>
                                        <div class="eb-icon-trash"><button class="eb-icon-btn">
                                                <img src="{% static '/images/trash_icon.png' %}" alt="delete symbol"
                                                    class="trash-icon-2">
                                            </button></div>
                                    </div>
                                </div>
                            </div>

                            <div class="folder-img-outer-container">
                                <div class="folder-img-div"><img
                                        src="{% static '/images/music_library_icon_black.png' %}" alt="folder icon"
                                        class="folder-img"></div>
                            </div>

                        </div>

                        {% endfor %}
                        {% endif %}
                        {% if smart_playlists %}

                        {% for playlist in smart_playlists %}
                        <div class="outer-pos-playlist-div">
                        <div class="playlist-main-holder-2">
                            <div class="playlist-name-container-2">
                                <h5 class="playlist-name pl-n-2">{{ playlist.name }}</h5>
                            </div>
                            <div class="edit-bar-options ebo-2">
                                <div class="eb-positions">
                                    <div class="eb-icons">
                                        <div><button class="eb-icon-btn"><img
                                                    src="{% static '/images/shuffle_icon.png' %}" alt="shuffle symbol"
                                                    class="icon-member"></button></div>
                                        <div><button class="eb-icon-btn"><img
                                                    src="{% static '/images/queue_icon.png' %}" alt="queue symbol"
                                                    class="icon-member"></button></div>
                                        <div><button class="eb-icon-btn">
                                                <div class="star-elem-div"><span class="fa fa-star star-elem-2"></span>
                                                </div>
                                            </button></div>
                                        <div><button class="eb-icon-btn"><img
                                                    src="{% static '/images/trash_icon.png' %}" alt="delete symbol"
                                                    class="icon-member trash-icon"></button></div>
                                    </div>
                                    <div class="eb-buttons">
                                        <button class="button-edit-bar">play</button>
                                        <button class="button-edit-bar">edit</button>
                                        <button class="button-edit-bar">view</button>
                                    </div>
                                </div>
                            </div>

                            <div class="outer-grid outer-grid-2">
                                <div class="album-cover-grid">
                                    <div class="cover-img-div"><img src="{{ playlist.images.0 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.1 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.2 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.3 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.4 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.5 }}"
                                            class="album-cover-member"></div>
                                    <div class="album-cover-member acm-div"></div>
                                    <div class="album-cover-member acm-div"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.6 }}"
                                            class="album-cover-member"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}


                        {% endif %}

                    </div>

                </div>

            </div>

            <div class="standard-playlists-container">

                <div class="pl-standard-playlists-container">

                    <div class="standard-playlist-heading-bar">
                        <h1 class="pl-playlist-opt-header">Standard Playlists</h1>
                        <div class="pl-sphb-group">
                            <div class="pl-sphb-info-btn">
                                <img src="{% static '/images/info_icon.png' %}"
                                    alt="Info button for smart playlist management section" class="pl-info-btn">
                                <span class="tooltip-text"></span>
                            </div>
                        </div>
                    </div>


                    <div class="playlists-and-folders-main-container playlists-container">
                        {% if standard_playlists %}
                        {% for playlist in standard_playlists %}
                        <div class="outer-pos-playlist-div">
                        <div class="playlist-main-holder-2">
                            <div class="playlist-name-container-2">
                                <h5 class="playlist-name pl-n-2">{{ playlist.name }}</h5>
                            </div>
                            <div class="edit-bar-options ebo-2">
                                <div class="eb-positions">
                                    <div class="eb-icons">
                                        <div><button class="eb-icon-btn"><img
                                                    src="{% static '/images/shuffle_icon.png' %}" alt="shuffle symbol"
                                                    class="icon-member"></button></div>
                                        <div><button class="eb-icon-btn"><img
                                                    src="{% static '/images/queue_icon.png' %}" alt="queue symbol"
                                                    class="icon-member"></button></div>
                                        <div><button class="eb-icon-btn">
                                                <div class="star-elem-div"><span class="fa fa-star star-elem-2"></span>
                                                </div>
                                            </button></div>
                                        <div><button class="eb-icon-btn"><img
                                                    src="{% static '/images/trash_icon.png' %}" alt="delete symbol"
                                                    class="icon-member trash-icon"></button></div>
                                    </div>
                                    <div class="eb-buttons">
                                        <button class="button-edit-bar">play</button>
                                        <button class="button-edit-bar">edit</button>
                                        <button class="button-edit-bar">view</button>
                                    </div>
                                </div>
                            </div>

                            <div class="outer-grid outer-grid-2">
                                <div class="album-cover-grid">
                                    <div class="cover-img-div"><img src="{{ playlist.images.0 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.1 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.2 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.3 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.4 }}"
                                            class="album-cover-member"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.5 }}"
                                            class="album-cover-member"></div>
                                    <div class="album-cover-member acm-div"></div>
                                    <div class="album-cover-member acm-div"></div>
                                    <div class="cover-img-div"><img src="{{ playlist.images.6 }}"
                                            class="album-cover-member"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                        {% endfor %}

                        {% endif %}

                    </div>


                </div>

            </div>

        </div>

    </div>
</body>

</html>